# =========================
# Entorno virtual
# =========================
uwu/
venv/
.env/
.venv/

# =========================
# Archivos compilados Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Distribución / empaquetado
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Archivos de logs
# =========================
*.log

# =========================
# Archivos del sistema (macOS)
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Archivos temporales
# =========================
*.tmp
*.swp
